<header class="container">
    <h1>Angular testing</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, eum excepturi! Temporibus, cumque suscipit, hic porro ipsa aliquam, voluptatum totam voluptatibus velit nulla corporis rem eos iusto. Unde, sequi quibusdam?</p>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/products">Productos</a></li>
            <li><a routerLink="/pico-preview">Pico Preview</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
